/* Start of the smokes for ancient*/
.black-bg {
  background-color: black; /* Set the background color to black */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

.youtube-vid{
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
}

.ancient-backsiteA-smoke{
  margin-left: -470px;
  margin-top: -630px;
}


.ancient-ctFromDonut-smoke{
  margin-left: -300px;
  margin-top: -580px;
}

.ancient-tunnel-smoke{
  margin-left: -390px;
  margin-top: -380px;
}

.ancient-ctFromMid-smoke{
  margin-left: -250px;
  margin-top: -580px;
}

.ancient-bLong-smoke{
  margin-left: 650px;
  margin-top: -350px;
}

.ancient-bShort-smoke{
  margin-left: 430px;
  margin-top: -350px;
}

.ancient-cave-smoke{
  margin-left: 400px;
  margin-top: -250px;
}

.donut-cross{
  margin-left: -200px;
  margin-top: -80px;
}

.mid-cross{
  margin-left: -110px;
  margin-top: -110px;
}

.ancient-cat-spawn-smoke{
  margin-left: -55px;
  margin-top: -250px;
}

.ancient-mid-smoke{
  margin-left: 250px;
  margin-top: 150px;
}

.ancient-ninja-molo{
  margin-left: 440px;
  margin-top: -80px;
}

.T-cross{
  margin-left: 630px;
  margin-top: 430px;
}

.cat-cross{
  margin-left: 400px;
  margin-top: 150px;
}

.ancient-cat-molo{
  margin-left: 100px;
  margin-top: 140px;
}

.ancient-elbow-molo{
  margin-left: -200px;
  margin-top: 130px;
}

.ancient-chubby-molo{
  margin-left: 70px;
  margin-top: -85px;
}

.ancient-orange-molo{
  margin-left: 430px;
  margin-top: 140px;
}

.ancient-A-site-molo{
  margin-left: 440px;
  margin-top: -240px;
}

.A-Ct-cross{
  margin-left: 560px;
  margin-top: -540px;
}

.A-T-cross{
  margin-left: 630px;
  margin-top: 430px;
}

.A-door-cross{
  margin-left: 610px;
  margin-top: 200px;
}

.ancient-short-molo{
  margin-left: 660px;
  margin-top: -320px;
}

.ancient-a-flash{
  margin-left: -420px;
  margin-top: -500px;
}

.A-donut-flash{
  margin-left: -200px;
  margin-top: -80px;
}

.A-mid-flash{
  margin-left: 80px;
  margin-top: -80px;
}

.A-idk-flash{
  margin-left: -565px;
  margin-top: 50px;
}

.ancient-exitA-flash{
  margin-left: -680px;
  margin-top: -400px;
}

.ancient-mid-flash{
  margin-left: -50px;
  margin-top: 0px;
}

.cave-mid-flash{
  margin-left: 340px;
  margin-top: -30px;
}

.wood-mid-flash{
  margin-left: 430px;
  margin-top: -40px;
}

.alley-mid-flash{
  margin-left: 200px;
  margin-top: -500px;
}

.T-mid-flash{
  margin-left: -120px;
  margin-top: 600px;
}

.ancient-b-flash{
  margin-left: 540px;
  margin-top: -200px;
}

.cave-b-flash{
  margin-left: 340px;
  margin-top: -30px;
}

.ramp-b-flash{
  margin-left: 610px;
  margin-top: 200px;
}