.black-bg {
    background-color: black; /* Set the background color to black */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
  }
  
  .youtube-vid{
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
  }

  .anubis_window_smoke{
    margin-left: 10px;
    margin-top: -20px;
  }

  .anubis-window-smoke-2{
    margin-left: 50px;
    margin-top: -50px;
    color: white;
    border: 2px solid white;
    padding-left: 15px; /* Optional: Add padding for spacing */
    transform: scale(0.4);
  }

  .T-cross{
    margin-left: 0px;
    margin-top: 900px;
  }

  .mid-cross{
    margin-left: -150px;
    margin-top: 450px;
  }

  .anubis_connector_smoke{
    margin-left: -150px;
    margin-top: 210px;
  }

  .anubis_connector_smoke-2{
    margin-left: -110px;
    margin-top: 180px;
    color: white;
    border: 2px solid white;
    padding-left: 15px; /* Optional: Add padding for spacing */
    transform: scale(0.4);
  }

  .T-connector-cross{
    margin-left: 100px;
    margin-top: 900px;
  }

  .mid-A-cross{
    margin-left: 350px;
    margin-top: 540px;
  }

  .anubis_temple_smoke{
    margin-left: 100px;
    margin-top: -350px;
  }

  .anubis_temple_smoke-2{
    margin-left: 140px;
    margin-top: -380px;
    color: white;
    border: 2px solid white;
    padding-left: 15px; /* Optional: Add padding for spacing */
    transform: scale(0.4);
  }

  .T-temple-cross{
    margin-left: 440px;
    margin-top: 450px;
  }

  .mid-temple-cross{
    margin-left: 0px;
    margin-top: 420px;
  }

  .anubis-B-left-smoke{
    margin-left: -430px;
    margin-top: -50px;
  }

  .anubis-B-temple-smoke{
    margin-left: -310px;
    margin-top: -150px;
  }

  .anubis-B-ct-smoke{
    margin-left: -430px;
    margin-top: -150px;
  }

  .anubis-B-right-smoke{
    margin-left: -300px;
    margin-top: 30px;
  }

  .anubis-A-heaven-smoke{
    margin-left: 437px;
    margin-top: -580px;
  }

  .anubis-A-camera-smoke{
    margin-left: 300px;
    margin-top: -250px;
  }