.black-bg {
    background-color: black; /* Set the background color to black */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
  }

  .youtube-vid{
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
  }

.inferno-short-smoke{
    margin-left: 400px;
    margin-top: 400px; 
  }
  
  .inferno-long-smoke{
    margin-left: 400px;
    margin-top: 200px;
  }
  
  .inferno-plaine-smoke{
    margin-left: 760px;
    margin-top: 200px;
  }
  
  .inferno-B-ct-smoke{
    margin-left: 200px;
    margin-top: -560px;
  }
  
  .inferno-B-coffins-smoke{
    margin-left: 40px;
    margin-top: -730px;
  }

  .inferno-banane-coffins-flash{
    margin-left: 400px;
    margin-top: 200px;
  }

  .inferno-banana-terro-molo{
    margin-left: 400px;
    margin-top: 200px;
  }

  .inferno-arch-smoke{
    margin-left: 570px;
    margin-top: 30px;
  }

  .inferno-library-smoke{
    margin-left: 820px;
    margin-top: 90px;
  }

  .inferno-default-A-smoke{
    margin-left: 640px;
    margin-top: 460px;
  }

  .inferno-T-stairs-smoke{
    margin-left: -130px;
    margin-top: 200px;
  }