.black-bg {
    background-color: black; /* Set the background color to black */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
  }

.inferno-short-smoke{
    margin-left: 400px;
    margin-top: 400px; 
  }
  
  .inferno-long-smoke{
    margin-left: 400px;
    margin-top: 200px;
  }
  
  .inferno-plaine-smoke{
    margin-left: 760px;
    margin-top: 200px;
  }
  
  .inferno-B-ct-smoke{
    margin-left: 200px;
    margin-top: -560px;
  }
  
  .inferno-B-coffins-smoke{
    margin-left: 40px;
    margin-top: -730px;
  }