.black-bg {
    background-color: black; /* Set the background color to black */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
  }

  .youtube-vid{
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
  }

.nuke-outside1-smoke{
    margin-left: 750px;
    margin-top: 760px;
  }
  
  .nuke-outside2-smoke{
    margin-left: 700px;
    margin-top: 850px;
  }
  
  .nuke-outside3-smoke{
    margin-left: 630px;
    margin-top: 850px;
  }
  
  .nuke-hut-smoke{
    margin-left: 630px;
    margin-top: 665px;
  }

  .nuke-heaven-smoke{
    margin-left: 680px;
    margin-top: 270px;
  }

  .nuke-hut-roof-molo{
    margin-left: 680px;
    margin-top: 270px;
  }