.black-bg {
    background-color: black; /* Set the background color to black */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
  }

.nuke-outside1-smoke{
    margin-left: 350px;
    margin-top: 330px;
  }
  
  .nuke-outside2-smoke{
    margin-left: 280px;
    margin-top: 400px;
  }
  
  .nuke-outside3-smoke{
    margin-left: 200px;
    margin-top: 400px;
  }
  
  .vertigo-ramp-mid-smoke{
    margin-left: 230px;
    margin-top: -80px;
  }
  
  .vertigo-A-smoke1{
    margin-left: 200px;
    margin-top: 260px;
  }

  .vertigo-A-smoke2{
    margin-left: 200px;
    margin-top: 260px;
  }