.black-bg {
    background-color: black; /* Set the background color to black */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
  }

  .youtube-vid{
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
  }

.overpass-B-site-smoke{
    margin-left: 370px;
    margin-top: -380px;
  }

  .overpass-B-ramp-smoke{
    margin-left: 370px;
    margin-top: -260px;
  }
  
  .overpass-heaven-B-smoke{
    margin-left: 170px;
    margin-top: -530px;
  }
  
  .overpass-trash-smoke{
    margin-left: 70px;
    margin-top: -700px;
  }
  
  .overpass-bank-smoke{
    margin-left: -120px;
    margin-top: -750px;
  }
  
  .overpass-truck-smoke{
    margin-left: 20px;
    margin-top: -560px;
  }

  .overpass-toilet-smoke{
    margin-left: -200px;
    margin-top: 30px;
  }

  .overpass-door-smoke{
    margin-left: 180px;
    margin-top: -40px;
  }

  .overpass-ABC-smoke{
    margin-left: 150px;
    margin-top: -285px;
  }

  .overpass-monster-smoke{
    margin-left: 635px;
    margin-top: -80px;
  }

  .overpass-Tstairs-smoke{
    margin-left: 120px;
    margin-top: 580px;
  }

  .overpass-sortie-terro-molo{
    margin-left: 120px;
    margin-top: 580px;
  }

  .overpass-B-default-molo{
    margin-left: 370px;
    margin-top: -380px;
  }

  .coin-pute-cross{
    margin-left: 120px;
    margin-top: -420px;
  }

  .toilet-cross{
    margin-left: -130px;
    margin-top: -310px;
  }

  .overpass-A-default-molo{
    margin-left: -150px;
    margin-top: -580px;
  }

  .overpass-short-molo{
    margin-left: 370px;
    margin-top: 20px;
  }

  .short-A-bench{
    margin-left: -70px;
    margin-top: -200px;
  }

  .short-A-vent{
    margin-left: -60px;
    margin-top: -380px;
  }

  .overpass-sorti-short-molo{
    margin-left: 470px;
    margin-top: -250px;
  }

  .overpass-toxic-molo{
    margin-left: 515px;
    margin-top: -515px;
  }

  .overpass-graffiti-molo{
    margin-left: 100px;
    margin-top: -250px;
  }