.black-bg {
    background-color: black; /* Set the background color to black */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
  }

  .youtube-vid{
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
  }

  .vertigo-mid-smoke{
    margin-left: -50px;
    margin-top: -260px;
  }
  
  .vertigo-left-mid-smoke{
    margin-left: 10px;
    margin-top: -350px;
  }
  
  .vertigo-right-mid-smoke{
    margin-left: 70px;
    margin-top: -150px;
  }
  
  .vertigo-yellow-smoke{
    margin-left: 10px;
    margin-top: 400px;
  }

  .vertigo-Tramp-smoke{
    margin-left: 150px;
    margin-top: 450px;
  }
  
  .vertigo-A-smoke1{
    margin-left: 320px;
    margin-top: 100px;
  }

  .vertigo-A-smoke2{
    margin-left: 430px;
    margin-top: 100px;
  }
  
  .vertigo-elevator-A-smoke{
    margin-left: 320px;
    margin-top: -30px;
  }

  .vertigo-right-B-smoke{
    margin-left: -350px;
    margin-top: -450px;
  }

  .vertigo-left-B-smoke{
    margin-left: -300px;
    margin-top: -550px;
  }

  .vertigo-ramp-terro-smoke{
    margin-left: 150px;
    margin-top: 300px;
  }

  .vertigo-heaven-molo{
    margin-left: 430px;
    margin-top: -150px;
  }

  .vertigo-ramp-molo{
    margin-left: 150px;
    margin-top: 400px;
  }

  .molo-ramp-short-cross{
    margin-left: 200px;
    margin-top: 130px;
  }
  
  .molo-ramp-site-cross{
    margin-left: 490px;
    margin-top: 140px;
  }

  .vertigo-short-molo{
    margin-left: 100px;
    margin-top: 150px;
  }

  .vertigo-elevator-molo{
    margin-left: 350px;
    margin-top: -30px;
  }

  .vertigo-mid-molo{
    margin-left: -350px;
    margin-top: 70px;
  }

  .vertigo-B-site-molo{
    margin-left: -500px;
    margin-top: -650px;
  }

  .vertigo-heaven-mid-molo{
    margin-left: -150px;
    margin-top: -430px;
  }