

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.centered-heading {
  text-align: center;
}

.wheel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.button-container {
  text-align: right;
  margin-left: 10px; /* Adjust margin as needed */
  position: absolute;
  top: 35%; /* Adjust top position */
  right: 20%; /* Adjust right position */
  
}

/* Optional: Adjust spacing between buttons and textarea */
.button-container button {
  margin-right: 5px; /* Adjust margin as needed */
}

