.black-bg {
  background-color: black; /* Set the background color to black */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.centered-heading {
  text-align: center;
}

.wheel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.button-container {
  text-align: right;
  margin-left: 10px; /* Adjust margin as needed */
  position: absolute;
  top: 35%; /* Adjust top position */
  right: 20%; /* Adjust right position */
  
}

/* Optional: Adjust spacing between buttons and textarea */
.button-container button {
  margin-right: 5px; /* Adjust margin as needed */
}

.grayscale {
  filter: grayscale(100%); /* Make the image black and white by default */
}

.grayscale:hover {
  filter: grayscale(0%); /* Remove grayscale on hover to add color */
}

.col-md-6 {
  margin-top: 20px; /* Add margin to the top of each column */
  flex: 0 0 calc(50% - 20px); /* Set the width of each column and consider margin */
  box-sizing: border-box; 
}

.image-container {
  background-size: cover;
  height: 400px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  visibility: hidden;
}

.image-container-right {
  margin-right: -200px;
}

.image-container:hover {
  transform: scale(1.05);
}

.weapon-container {
  transition: transform 0.3s ease-in-out;
  visibility: hidden;
}

.weapon-container:hover {
  transform: scale(1.05);
}

.wheel-name{
  margin-left: 250px;
}

.wheel-name-small{
  margin-left: 200px;
}

.test-container{
  margin-left: 100px;
}

.utilityh2{
  margin-left: 150px;
  margin-bottom: 50px;
}
.bottomMarginForWheel{
  margin-bottom: 50px;
}

.left-container{
  margin-top: 50px;
  transition: transform 0.3s ease-in-out;
  visibility: hidden;
}

.left-container:hover {
  transform: scale(1.05);
}

.right-container{
  margin-top: 50px;
  transition: transform 0.3s ease-in-out;
  visibility: hidden;
}


@media (max-width: 768px) {
  .left-container,
  .right-container {
    margin-left: 0;
    margin-right: 0;
  }
}

.right-container:hover {
  transform: scale(1.05);
}

.smaller-image {
  width: 60px; /* Adjust the percentage based on your preference */
  height: auto; /* Maintain aspect ratio */
  position: absolute; /* Position the second image absolute to stack on top */
}

.hover-effect:hover {
  transform: scale(1.35);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.hover-effect-top-smoke:hover {
  transform: scale(0.5);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
}

.hover-effect-top-molo:hover {
  transform: scale(0.6);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
}

.red_cross{
  transform: scale(0.5);
}

.top-elements-container {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Adjust as needed */
  margin-bottom: -100px;
  margin-top: 0px;
  justify-content: space-evenly ;
  
}

.top-inciendiary{ /* Center the image horizontally */
  transform: scale(0.5);
}

.top-smoke{
  transform: scale(0.4);
}

.top-flash{
  transform: scale(0.4);
}
